@model QLDD.Models.BAIDANG

@{
    Layout = null;
}
    <div class="span8" style="border: solid 1px #eee;">
        <div style="display: flex; align-items:center; justify-content:space-between; border-bottom: solid 1px #eee; padding: 0px 15px">
            <h3 style="color: #c82933"><strong>CẬP NHẬT BÀI ĐĂNG</strong></h3>
            <button class="btn btn-default" onclick="getBaiDang(@TempData["IDDD"], '@TempData["IDKH"]' )">
                Trở về
            </button>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.BAIDANG_ID)

                <table class="table">
                    <tr>
                        <th height="30">NỘI DUNG:</th>
                        <td height="50">
                            @Html.TextAreaFor(model => model.BAIDANG_NOIDUNG, 10, 150, new { htmlAttributes = new { @class = "form-control", @maxlength = "10000" }, required="required" })
                            @Html.ValidationMessageFor(model => model.BAIDANG_NOIDUNG, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Lưu" class="btn btn-warning" />
                        </td>
                    </tr>
                </table>

            </div>

        }

    </div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    //get bai dang
    function getBaiDang(dd, kh) {
        $.ajax({
            method: 'get',
            url: '/baidang/dsbaidang',
            data: { id: dd, idkh: kh },
            success: function (res) {
                $("#result").html(res);
            }
        })
    }
</script>