@model QLDD.Models.DIADIEM

@{
    Layout = "~/Views/Shared/Header_Footer.cshtml";
}


   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>THÊM ĐỊA ĐIỂM</h4>
         
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DIADIEM_ID)
          
            <hr />
            <table>
                <tr  height="50">
                    <td>
                        LOẠI ĐỊA ĐIỂM:
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.LOAI_ID, (IEnumerable<SelectListItem>)ViewBag.Loai, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LOAI_ID, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr  height="50">
                    <td>
                        TÊN ĐỊA ĐIỂM:
                    </td>
                    <td>
                        @Html.EditorFor(model => model.DIADIEM_TEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DIADIEM_TEN, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr  height="50">
                    <td>
                        ĐỊA CHỈ:
                    </td>
                    <td>
                        @Html.EditorFor(model => model.DIADIEM_DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DIADIEM_DIACHI, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr  height="50">
                    <td>
                        WEBSITE:
                    </td>
                    <td>
                        @Html.EditorFor(model => model.DIADIEM_WEB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DIADIEM_WEB, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr  height="50">
                    <td>
                        MÔ TẢ:
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.DIADIEM_MOTA, 10, 150, new { htmlAttributes = new { @class = "form-control", @maxlength = "10000" } })
                        @Html.ValidationMessageFor(model => model.DIADIEM_MOTA, "", new { @class = "text-danger" })
                     
                    </td>
                </tr>

                <tr  height="50">
                    <td >
                        <input type="submit" value="Lưu" class="btn btn-warning" />
                        <button class="btn btn-warning">
                            @Html.ActionLink("Trở về", "DSDiaDiem", new {id = TempData["ID"] })
                            </button>
                    </td>


                </tr>

            </table>

          
        </div>
    }

