@model QLDD.Models.DIADIEM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h3>Bạn có muốn xáo địa điểm này ?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.DIADIEM_TEN)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ĐỊA CHỈ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIADIEM_DIACHI)
        </dd>

        <dt>
           WEBSITE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIADIEM_WEB)
        </dd>

        <dt>
            MÔ TẢ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIADIEM_MOTA)
        </dd>

        <dt>
            KHÁCH HÀNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.KHACHHANG_TEN)
        </dd>

        <dt>
            LOẠI HÌNH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI.LOAI_TEN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input class="btn btn-primary" type="submit" value="Delete" style="width:60px;height:32px;background-color:#394A59;"/> |
            <button class="btn btn-primary" style="width:100px;height:32px;background-color:#394A59;">@Html.ActionLink("Back to List", "Index")</button>
        </div>
    }
</div>
