@model QLDD.Models.TOADO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Header_Footer.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TOADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TOADO_LAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOADO_LAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOADO_LNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOADO_LNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIADIEM.KHACHHANG_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIADIEM.KHACHHANG_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TOADO_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
