@model IEnumerable<QLDD.Models.BAIDANG>
@{
    Layout = null;
}


<table class="table table-striped table-advance table-hover">
    <tr>
        <th style="background-color:#394A59;color:#fff">
            NGÀY ĐĂNG
        </th>
        <th style="background-color:#394A59;color:#fff">
            NỘI DUNG
        </th>
        <th style="background-color:#394A59;color:#fff">
            KHÁCH HÀNG
        </th>
        <th style="background-color:#394A59;color:#fff">
            NHÂN VIÊN DUYỆT BÀI
        </th>
        <th style="background-color:#394A59;color:#fff">THAO TÁC</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BAIDANG_NGAY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAIDANG_NOIDUNG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIADIEM.KHACHHANG_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHANVIEN.NHANVIEN_TEN)
            </td>
            <td>
                <button class="btn btn-primary" style="width:60px;height:32px;background-color:#394A59;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.BAIDANG_ID })
                </button>
               
            </td>
        </tr>
    }
</table>

